@charset "UTF-8";

/* 设计变量 */
:root {
  --color-main: #266bf6;
  --color-brand-hover: #5189f8;
  --color-brand-normal: #266bf6;
  --color-brand-click: #0043ff;
  --color-brand-disable: #a8c4fb;
  --color-brand-light-normal: #f2f6fe;
  --color-brand-light-hover: #f6f9ff;
  --color-brand-light-click: #e5edfe;
  --color-brand-light-disable: #f8fbff;
  --color-fill-100: #f7f8fa;
  --color-text-400: #080b31;
  --color-text-300: #393c5a;
  --color-text-200: #77798e;
  --color-text-100: #b4b5c1;
  --color-line-100: #edeef2;
  --color-line-200: #dedfe6;
  --color-error-normal: #f7344b;
  --color-warning-normal: #f29333;
}
